@media (max-width: 1200px) {
  .header .header-logo {
    order: 1;
  }

  .header .header-social-links {
    order: 2;
  }

  .header .navmenu {
    order: 3;
  }
}

header {
  background-color: var(--light);
}

.header-logo {
  color: var(--darker);
}

.header-social-links a {
  color: color-mix(in srgb, var(--dark), transparent 40%);
  transition: 0.3s;
}

.header-social-links a:hover {
  color: var(--primary);
}

.header-social-links a i {
  line-height: 0px;
}
