<header class="header flex justify-between items-center p-4 shadow-md fixed top-0 left-0 right-0 z-50 bg-light">
  <a class="header-logo flex-shrink-0" [routerLink]="['']" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: true }">
    <h1 class="uppercase text-xl sm:text-2xl md:text-3xl font-light whitespace-nowrap">Giovana Psi</h1>
  </a>

  <app-nav class="hidden lg:block"></app-nav>

  <div class="flex items-center header-social-links flex-shrink-0">
    <a href="#" class="ps-1.5 inline-block text-lg sm:text-xl"><i class="bi bi-facebook"></i></a>
    <a href="#" class="ps-1.5 inline-block text-lg sm:text-xl"><i class="bi bi-instagram"></i></a>
    <a href="#" class="ps-1.5 inline-block text-lg sm:text-xl"><i class="bi bi-linkedin"></i></a>
  </div>
</header>
