/* Header Fixo */
.header {
  background-color: var(--light);
}

.header-logo {
  color: var(--darker);
}

.header-social-links a {
  color: color-mix(in srgb, var(--dark), transparent 40%);
  transition: 0.3s;
}

.header-social-links a:hover {
  color: var(--primary);
}

.header-social-links a i {
  line-height: 0px;
}

@media (max-width: 1200px) {
  .header .header-logo {
    order: 1;
  }

  .header .header-social-links {
    order: 2;
  }

  .header .navmenu {
    order: 3;
  }
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  .header {
    height: 60px;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 640px) {
  .header {
    height: 56px;
  }
  
  .header-logo h1 {
    font-size: 1.125rem !important;
  }
  
  .header-social-links a {
    font-size: 1rem !important;
    padding-left: 0.25rem !important;
  }
}