.info-item i {
  color: var(--primary);
  background: color-mix(in srgb, var(--primary), transparent 92%);
  transition: all 0.3s ease-in-out;
}

.info-item:hover i {
  background: var(--primary);
  color: var(--lighter);
}

.section-title h2 {
  border-bottom: 5px solid var(--primary);
}