<app-header></app-header>
<main>
  <section id="contact" class="mx-20 my-8">
    <div class="section-title flex flex-col items-center mb-20">
      <h2 class="text-3xl font-bold mb-4 pb-4 relative">Contato</h2>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <div class="info-wrap p-8 bg-white shadow-lg">
        <div class="info-item flex mb-10">
          <i class="bi bi-geo-alt text-xl w-11 h-11 flex justify-center items-center rounded-full mr-3.5"></i>
          <div>
            <h3 class="p-0 text-lg font-bold mb-1.5">Endereço</h3>
            <p class="p-0 mb-0 text-sm">Av. José Bonifácio, 1025 - Jardim Flamboyant</p>
          </div>
        </div>

        <div class="info-item flex mb-10">
          <i class="bi bi-telephone text-xl w-11 h-11 flex justify-center items-center rounded-full mr-3.5"></i>
          <div>
            <h3 class="p-0 text-lg font-bold mb-1.5">Telefone</h3>
            <p class="p-0 mb-0 text-sm">(11) 99999-9999</p>
          </div>
        </div>

        <div class="info-item flex mb-10">
          <i class="bi bi-envelope text-xl w-11 h-11 flex justify-center items-center rounded-full mr-3.5"></i>
          <div>
            <h3 class="p-0 text-lg font-bold mb-1.5">Email</h3>
            <p class="p-0 mb-0 text-sm">gabriela.goia&#64;email.com</p>
          </div>
        </div>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14702.577813238768!2d-47.0291171!3d-22.88958895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8cf64fd70d285%3A0x544878ed0df45765!2sAv.%20Jos%C3%A9%20Bonif%C3%A1cio%2C%201025%20-%20Jardim%20Flamboyant%2C%20Campinas%20-%20SP%2C%2013091-140!5e0!3m2!1spt-BR!2sbr!4v1741720373960!5m2!1spt-BR!2sbr"
          height="450" style="border:0;" allowfullscreen="" loading="lazy" class="w-full"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="col-span-2 p-8 bg-white shadow-lg">
        <form action="forms/contact.php" method="post" class="contact">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
            <div>
              <label for="name-field" class="pb-2 block">Seu Name</label>
              <input type="text" id="name-field" class="" required="">
            </div>

            <div>
              <label for="email-field" class="pb-2 block">Seu Email</label>
              <input type="email" class="" id="email-field" required="">
            </div>

            <div class="col-span-2">
              <label for="subject-field" class="pb-2 block">Assunto</label>
              <input type="text" class="" id="subject-field" required="">
            </div>

            <div class="col-span-2">
              <label for="message-field" class="pb-2 block">Menssagem</label>
              <textarea class="" rows="10" id="message-field" required=""></textarea>
            </div>

            <div class="text-center hidden">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

            </div>
            <button type="submit">Send Message</button>

          </div>
        </form>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
