@if (showMenu) {
  <div class="fixed inset-0 bg-black opacity-60 z-40 sm:hidden" (click)="showMenu = false">
  </div>
}

<div class="sm:hidden z-50 relative">
  <button (click)="showMenu = !showMenu" [ngClass]="showMenu ? 'bg-gray-200 rounded p-1' : ''"
    class="text-gray-700 focus:outline-none transition">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>
</div>

<div
  class="w-auto h-full mx-0 sm:mx-4 sm:w-auto z-50 sm:static fixed top-0 left-0 sm:bg-transparent bg-white sm:shadow-none shadow-lg"
  [ngClass]="{
    'block': showMenu,
    'hidden': !showMenu,
    'sm:flex': true
  }">
  <div class="flex items-center justify-between border-b sm:hidden">
    <span class="font-semibold text-lg">Menu</span>
    <button (click)="showMenu = false" class="text-gray-700 hover:bg-gray-200 rounded p-1 focus:outline-none">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <nav class="font-menu">
    @for (link of links; track link) {
      <a (click)="showMenu = !showMenu"
        routerLink="{{ link.path }}"
        routerLinkActive="text-[var(--highlight-color)]"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block sm:inline-block m-4 relative after:content-[''] after:block after:w-0 after:h-[2px] after:bg-[var(--highlight-color)] after:transition-all after:duration-500 hover:after:w-full hover:text-[var(--highlight-color)] hover:duration-500">
        {{ link.label }}
      </a>
    }
  </nav>
</div>
