.section-title h2 {
  border-bottom: 5px solid var(--primary);
}

i {
  color: var(--primary);
}

.resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--primary);
  position: relative;
}

.resume-item h4 {
  font-weight: 600;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--dark), transparent 20%);
}

.resume-item:last-child {
  padding-bottom: 0;
}

.resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--light);
  border: 2px solid var(--primary);
}
