<app-header></app-header>
<main>
  <section id="about" class="mx-20 my-8">
    <div class="section-title flex flex-col items-center mb-10">
      <h2 class="text-3xl font-bold mb-4 pb-4 fade-up">Sobre</h2>
    </div>
    <div>
      <p class="text-center fade-up">Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div>
    <div class="flex justify-center mt-8">
      <div class="container">
        <div class="grid grid-cols-3 gap-4 xl:mx-20">
          <div class="sm:col-span-3 md:col-span-1">
            <img ngSrc="/assets/gabriela-perfil.jpg" width="400" height="600" priority class="fade-up" alt="Gabriela Perfil">
          </div>
          <div class="sm:col-span-3 md:col-span-2 fade-up">
            <h2 class="font-bold text-2xl">Psicóloga & Gestalt Terapeuta.</h2>
            <p class="italic mt-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <div class="grid grid-cols-2 gap-4 mt-8">
              <div class="sm:col-span-2 md:col-span-1">
                <ul class="p-0 list-none">
                  <li class="mb-5 flex items-center">
                    <i class="bi bi-chevron-right text-lg mr-1.5"></i> <strong>Birthday:</strong> <span class="ms-2">1 May 1995</span>
                  </li>
                  <li class="mb-5 flex items-center">
                    <i class="bi bi-chevron-right text-lg mr-1.5"></i> <strong>Birthday:</strong> <span class="ms-2">1 May 1995</span>
                  </li>
                  <li class="mb-5 flex items-center">
                    <i class="bi bi-chevron-right text-lg mr-1.5"></i> <strong>Birthday:</strong> <span class="ms-2">1 May 1995</span>
                  </li>
                </ul>
              </div>
              <div class="sm:col-span-2 md:col-span-1">
                <ul class="p-0 list-none">
                  <li class="mb-5 flex items-center">
                    <i class="bi bi-chevron-right text-lg mr-1.5"></i> <strong>Birthday:</strong> <span class="ms-2">1 May 1995</span>
                  </li>
                  <li class="mb-5 flex items-center">
                    <i class="bi bi-chevron-right text-lg mr-1.5"></i> <strong>Birthday:</strong> <span class="ms-2">1 May 1995</span>
                  </li>
                  <li class="mb-5 flex items-center">
                    <i class="bi bi-chevron-right text-lg mr-1.5"></i> <strong>Birthday:</strong> <span class="ms-2">1 May 1995</span>
                  </li>
                </ul>
              </div>
            </div>
            <p>
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis. Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="section-title flex flex-col items-center my-10">
        <h2 class="text-3xl font-bold mb-4 pb-4 fade-up">Experiências Profissionais</h2>
      </div>
      <div class="items-start mt-4 mx-52 fade-up-slowly">
          <div class="resume-item">
            <h4>Atendimento psicoterapêutico individual: adolescentes, adultos e idosos</h4>
          </div>
          <div class="resume-item">
            <h4>Orientação e aconselhamento em decorrência da pandemia</h4>
          </div>
          <div class="resume-item">
            <h4>Psicoterapia para mulheres vítimas de violência doméstica</h4>
          </div>
          <div class="resume-item">
            <h4>Avaliação Psicológica e Perícia nas esferas civil e criminal</h4>
          </div>
          <div class="resume-item">
            <h4>Mediadora e Conciliadora</h4>
          </div>
          <div class="resume-item">
            <h4>Atendimento psicoterápico: adolescentes, adulto e idosos em situação vulnerável.</h4>
          </div>
      </div>
    </div>

    <div>
      <div class="section-title flex flex-col items-center my-10">
        <h2 class="text-3xl font-bold mb-4 pb-4 scroll">Formações</h2>
      </div>
      <div class="items-start mt-4 mx-52">
        <div class="resume-item">
          <h4>Psicóloga graduada pela Universidade Paulista</h4>
        </div>
        <div class="resume-item">
          <h4>Gestalt Terapeuta pela escola APRIMORA</h4>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
