<p>Olá, Prazer! Sou a Gabriela, psicóloga, graduada pela Universidade Paulista e Gestalt Terapeuta pela escola APRIMORA,
  dentre outras formações que agregam para a completude do meu trabalho com visão filosófica Humanista; preocupada com a
  capacidade do ser humano em se auto-realizar e de desenvolver seu potencial.</p>

<p>A Gestalt-Terapia tem como foco levar as pessoas a restaurar o contato consigo, com os outros e com o mundo, no
  momento presente.</p>

<p>Sou Pesquisadora e entusiasta em Psicologia Transpessoal e Ecopsicologia, ambas abordagens combinam o melhor da
  ciência psicológica e da psicologia integrativa; reconhecendo o ser humano em sua totalidade e reconectando-o com o
  ambiente ao seu redor, trazendo uma relação mais pacífica e recíproca.</p>
