<h2>Minha Experiência Profissional:</h2>

Atendimento psicoterapêutico individual (adolescentes, adultos e idosos)

Orientação e aconselhamento durante a pandemia

Psicoterapia para mulheres vítimas de violência doméstica

Psicoterapia para o público Trans

Avaliação Psicológica e Perícia nas esferas civil e criminal

Mediadora e Conciliadora

Atendimento psicoterápico em situação de vulnerabilidade (adolescentes, adultos e idosos)

<h2>Formação Acadêmica:</h2>

Graduação em Psicologia – Universidade Paulista
Gestalt Terapeuta pela escola APRIMORA
