footer {
  background-color: var(--light);
}

.footer-social-links a {
  border: 1px solid color-mix(in srgb, var(--dark), transparent 50%);
  font-size: 16px;
  color: color-mix(in srgb, var(--dark), transparent 50%);
  margin: 0 5px;
  transition: 0.3s;
}

.footer-social-links a:hover {
  border-color: var(--primary);
  color: var(--primary);
}
