<footer class="relative p-4">
  <div class="flex justify-between items-center">
    <div>
      <p>&copy; Copyright <span class="font-bold">Ronald</span> All Rights Reserved</p>
    </div>
    <div class="footer-social-links flex items-center justify-center">
      <a href="" class="flex items-center justify-center w-10 h-10  rounded-full"><i class="bi bi-facebook"></i></a>
      <a href="" class="flex items-center justify-center w-10 h-10  rounded-full"><i class="bi bi-instagram"></i></a>
      <a href="" class="flex items-center justify-center w-10 h-10  rounded-full"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</footer>
