<section id="services" class="mx-4 sm:mx-8 md:mx-12 lg:mx-16 xl:mx-20 my-4 sm:my-6 md:my-8">
  <div class="section-title flex flex-col items-center mb-6 sm:mb-8 md:mb-10">
    <h2 class="text-xl sm:text-2xl md:text-3xl font-bold mb-3 sm:mb-4 pb-2 sm:pb-4 fade-up">Serviços</h2>
  </div>

  <div>
    <p class="text-center text-sm sm:text-base fade-up px-2 sm:px-0">
      Conheça os serviços que ofereço para cuidar da sua saúde emocional e bem-estar.
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8 mt-8 items-stretch">
    @for (service of services; track $index) {
      <app-service-card [service]="service" />
    }
  </div>

</section>
